.layout{
  display: flex;
  /* align-items: center; */ /* justify-content: center; */
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}
.base-left-content{
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.base-right-content{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center; /* width: vw; */
  box-sizing: border-box;
}
