.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.routes{
    display: flex;
}

.navBar__logout{
    margin-left: 2rem;
    padding: 10px;
    background-color: #F79009;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.route {
    list-style: none;
    margin-right: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #101828;
    text-decoration: none;
}

.route a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #101828;
}
.route:active{
    color: #F79009;
}

.navbar__adminName{
    border-right: 3px solid red;
    height: 3rem;
    padding-top: 1rem;
    padding-right: 2rem;
}

.sign-road-icon{
    margin-top: 1rem;
}

.dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #101828;
}

.navbar-icon-text{
    margin-left: 10px;
    color: #012A4A;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.25px;
    text-decoration: none;
    background: white;

}

.user-nav-dropdown{

    margin: 10px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #101828;
    

}
.user-dropdown-button{
  
    border: none;
    background: transparent;
    font-size: 1rem;
}

.link-active{
    color: #F79009 !important;
}