.forgotPassword__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 5px;
    /* border: 1px solid red; */
    position: absolute;
    width: 40%;
    height: 50%;
    margin-left: 0px !important;
    padding-left: 0px !important;

    /* White */

    background: #ffffff;
    border-radius: 24px;
        margin-top: -76px;
  }

    .header_text {
    color: #012a4a;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin: 1rem;
  }

   .form-items{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: -15px;
  }
  .form-items p {
    width: 100%;
    color: #101828;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
    text-align: center;
  }
  .p_text{
    color: #012a4a;
    text-align: center;
    font-size: 14px;
    width: 79%;
    margin: 0 auto;
  }